/* purgecss start ignore */
*{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  &:focus {
    outline: none;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

img {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

button, .button {
    @apply w-full flex justify-center py-2 px-4 text-sm font-medium rounded-md text-primary transition duration-150 ease-in-out tracking-widest select-none;
    
    &:hover {
        @apply text-light no-underline;
    }

    &:focus {
        @apply outline-none no-underline;
    }

    &.bordered {
        @apply border;
        &:hover {
          @apply border-light;  
        }
    }

    // Primary
    &.primary {
        @apply bg-primary text-white;
        &:hover {
            @apply bg-light text-white;
        }
    }

    &.link {
      @apply p-0 text-tertiary text-base tracking-wider;
      &:hover {
        @apply text-secondary bg-transparent;
      }
    }
}

.tag {
  @apply inline-flex items-center px-1.5 py-0.5 leading-normal rounded-full text-xs font-normal bg-dark text-info;
  min-height: .7rem;
  min-width: .6rem;
  &::before {
    content: " "
  }
  &-primary {
    @apply bg-primary text-white;
  }

  &-warning {
    @apply bg-warning text-white;
  }

  &-danger {
    @apply bg-danger text-white;
  }

  &-success {
    @apply bg-success text-white;
  }
}

a {
    @apply font-medium text-tertiary transition ease-in-out duration-150;

    &:hover {
        @apply text-secondary;
    }

    &:focus {
        @apply text-secondary outline-none underline;
    }
}


.error {
  &-message {
    @apply text-danger text-xs;
  }

  input, .input-icon {
    @apply border-danger;
  }

}

h1, h2, h3 {
    @apply select-none;
}

h1 {
  font-size: 2.3em;
}

h2 {
  font-size: 1.9em;
}

h3 {
  font-size: 1.4em;
}

// List element

.list {
  &-element {
    @apply border-b transition ease-in-out duration-150 select-none;
    &.hovered {
      &:hover {
        @apply cursor-pointer bg-grey;
      }
    }
  }
  &-menu {
    li {
      @apply py-1 tracking-wider;

      a, button {
        @apply text-black;
      }

    }

    &-light {
      li {
        @apply py-1 tracking-wider;

        a, button {
          @apply text-tertiary;

          &:hover {
            @apply text-secondary;
          }

          &.link-active {
            @apply text-secondary;
          }

        }

      }

    }

  }

  &-icon {
    height: 1.75rem;
    vertical-align: middle;
    @apply pr-2;
  }

}

// Forms

.form {
  &-content {
    @apply text-left;
  }

  &-icon {
    &-placeholder {
      @apply flex items-center;
    }
    &-r {
      @apply flex;

      input {
        @apply rounded-r-none border-r-0;
      }

      .input {
        &-icon {
          @apply pointer-events-none inset-y-0 right-0 flex items-center px-2 border border-l-0 rounded-r;
        }
      }

      input {
        &:focus {
          +.input-icon {
            @apply border-tertiary;
          }
        }
      }
    }

    &-l {
      @apply flex;

      input {
        @apply rounded-l-none border-l-0;
      }

      .input {
        &-icon {
          @apply pointer-events-none inset-y-0 right-0 flex items-center px-2 border border-r-0 rounded-l;
        }
      }

      input {
        &:focus {
          +.input-icon {
            @apply border-tertiary;
          }
        }
      }
    }

  }

  &-label {
    @apply block text-sm text-light;

    input:checked + svg {
      display: block !important;
    }

  }

  &-has-danger {
    @apply border-danger;
  }

}

// Vue Input suggestion
.suggestions {
  @apply bg-white shadow p-2 rounded absolute;
  opacity: 1;
  .suggest-item {
    @apply p-2;
    &:hover {
      @apply bg-grey text-info;
    }
  }
}

.vue-simple-suggest-enter-active.suggestions,
.vue-simple-suggest-leave-active.suggestions {
  /* Transition length here:*/
  transition: opacity 0.2s;
}

.vue-simple-suggest-enter.suggestions,
.vue-simple-suggest-leave-to.suggestions {
  /* Transition rule for "disengaged" element:*/
  opacity: 0;
}

.vue-simple-suggest > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.vue-simple-suggest.designed {
  position: relative;
}

.vue-simple-suggest .suggestions {
  @apply bg-white shadow rounded absolute;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  top: calc(100% + 5px);
  opacity: 1;
  z-index: 1000;
}

.vue-simple-suggest .suggestions .suggest-item {
  @apply select-none cursor-pointer;
}

.vue-simple-suggest .suggestions .suggest-item,
.vue-simple-suggest .suggestions .misc-item {
  @apply p-2;
}

.vue-simple-suggest .suggestions .suggest-item.hover {
  @apply bg-grey text-info;
}

.vue-simple-suggest .suggestions .suggest-item.selected {
  @apply bg-primary text-white;
}
/* purgecss end ignore */
