button, .button {
    @apply w-full flex justify-center py-2 px-4 text-sm font-medium rounded-md text-primary transition duration-150 ease-in-out tracking-widest;
    &:hover {
        @apply text-light no-underline;
    }
    &:focus {
        @apply outline-none no-underline;
    }

    &.bordered {
        @apply border;
        &:hover {
          @apply border-light;  
        }
    }

    // Primary
    &.primary {
        @apply bg-primary text-white;
        &:hover {
            @apply bg-light text-white;
        }
    }
}

a {
    @apply font-medium text-tertiary transition ease-in-out duration-150;
    &:hover {
        @apply text-secondary;
    }
    &:focus {
        @apply text-secondary outline-none underline;
    }
}